.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  background-size: cover;
  border-radius: 12px;
  width: 100%;
  background-color: #f0f1f2;
  width: 20vw;
  margin-left: 25vw;
  margin-top: 15px;
}

.footer-icon {
  margin: 10px;
  color: #000000;
}
